
/*!
 * Author: Ian Reid Langevin
 * Version: 1.0.0
 */

// var

$primary: #008acc;
$secondary: #09588a;
$tertiary: #6c7a89;

$green: #42ca68;
$white: #fff;
$light-grey: #f7f7f7;
$main-background: #f7f7f7;
$medium-grey: #e9e9e9;
$accent-grey: #999;
$dark-grey: #666;
$black: #2e3131;

$sidebar-padding-left: 20px;

$topBarHeight: 46px;


/**
*
* -------------------------------- GLOBAL
*
**/

body {
  background: $main-background;
}

// topbar - update the page top padding for the new admin bar height
@media screen and (min-width: 783px) {
  html.wp-toolbar {
    padding-top: $topBarHeight;
  }
}

a:hover {
  color: $secondary;
}

a:focus {
  box-shadow: none;
}

/**
*
* -------------------------------- LOGIN FORM
*
**/

.login form {
  box-shadow: none;
  border: 1px solid $medium-grey;
}

.login #backtoblog a, .login #nav a {
  color: #999;
}
/**
*
* -------------------------------- TOP BAR ADMIN
*
**/

#wpadminbar {
  height: $topBarHeight;
}

// topbar items color
#wpadminbar .ab-empty-item,
#wpadminbar a.ab-item,
#wpadminbar>#wp-toolbar span.ab-label,
#wpadminbar>#wp-toolbar span.noticon {
  color: $accent-grey;
}


// topbar items height
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .quicklinks a,
#wpadminbar .shortlink-input {
  height: $topBarHeight;
}

// topbar items ul li padding
#wpadminbar .quicklinks>ul>li>a {
  padding: 0 16px;
}

// topbar items container height
#wpadminbar * {
  line-height: $topBarHeight;
}

//topbar site name
#wpadminbar #wp-admin-bar-my-sites a.ab-item,
#wpadminbar #wp-admin-bar-site-name a.ab-item {
  font-size: 15px;

    @media screen and (min-width: 783px) {
    &::before {
      display: none;
    }
    }
}

// topbar - remove name by the icon
#wpadminbar .ab-label {
  display: none;
}

// add a padding to center items on large devices. No flex top align on wp backend
#wpadminbar .ab-icon,
#wpadminbar .ab-item:before,
#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
  @media screen and (min-width: 783px) {
  padding-top: 10px;
  }
}

#wpadminbar .ab-submenu .ab-item {
  color: $dark-grey;
}

// hide comments, update, etc. from the topbar
#wp-admin-bar-site-name-default,
#wpadminbar li#wp-admin-bar-wp-logo,
#wpadminbar li#wp-admin-bar-comments,
#wpadminbar li#wp-admin-bar-updates {
  display: none;
}

// topbar dropdown top bar hover menu
#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
  background-color: $white;
  color:$primary;
}

// dropdown top bar background
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  background-color: $white;
}

// topbar dropdown top bar text color
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: $dark-grey;
}

// topbar hover color for all elements
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  color:$primary;
}


/**
*
* -------------------------------- CONTENT AND MENU WIDTH
*
**/

// main title margin under
.wp-header-end {
  margin: -2px 0 10px;
}

// clearing the new sidebar width
#wpcontent,
#wpfooter {
padding-left: 50px;
padding-right: 50px;
}


/**
*
* -------------------------------- LEFT MENU SIDEBAR
*
**/

#adminmenu {
margin: 0 12px 0 0;
}

#adminmenu .wp-submenu a {
  font-size:14px;
}

#adminmenu a,
#adminmenu .wp-submenu a {
color: $black;

  &:hover {
    color: $primary;
  }
}

#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  background-color: $white;
}

#adminmenu div.wp-menu-name {
  padding: 10px 0;
}

#adminmenu .wp-first-item.menu-top-first .wp-first-item.wp-has-submenu {
  padding-top: 16px;
  padding-bottom: 16px;
}


// divider
#adminmenu li.wp-menu-separator {
height: 4px;
margin: 0;
background-color: $light-grey;
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: $primary;
}

#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
  font-size: 15px;
}

#adminmenu div.wp-menu-name {
  padding-left: $sidebar-padding-left;
}

// hover on menu item
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
  background-color: $main-background;
  color: $primary;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
  border-right-color:$main-background;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color:$white;
}

// update menu item color
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  background-color: $green;
}

// open item background
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu {
  background-color: $medium-grey;
}

/**
*
* -------------------------------- MOBILE LEFT MENU
*
**/

@media screen and (max-width: 782px), all {
    .auto-fold #adminmenu .selected .wp-submenu {
    background-color: $medium-grey;
    }

    .auto-fold #adminmenu a.menu-top {
      height: auto;
    }

    .selected .wp-has-submenu {
      background-color: #d4d4d4;
    }

    .auto-fold #adminmenu li.menu-top .wp-submenu>li>a {
    padding: 10px 10px 10px 20px;
    }
}



// mobile current item background
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
  color: #fff;
  background-color: $primary;
}

// mobile submenu active
#adminmenu .opensub .wp-submenu li.current a,
#adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a {
  color: $primary;
}

// mobile padding on menu links
#adminmenu .wp-has-current-submenu ul>li>a,
.folded #adminmenu li.menu-top .wp-submenu>li>a {
  padding: 5px $sidebar-padding-left;
}

// hide icons
#adminmenu div.wp-menu-image {
  top:0;
  display: none;

  @media screen and (min-width: 783px) and (max-width: 960px){
    .auto-fold & { // display icon when menu is reduced
      display: block;
    }
  }

  &:before {
    color: $accent-grey;
  }

}

.wp-has-current-submenu {
  background-color: $primary;
}

#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
  color: $primary;
}

.folded #adminmenu div.wp-menu-image {
  display: block;
}

.auto-fold #adminmenu .wp-menu-name {
  margin-left: 0;
}

/**
*
* -------------------------------- POST AND PAGE CONTENT SECTION
*
**/

a {
  color: $primary;
}

.wrap {
  margin: 20px 0;
}

#wpwrap {
  background: $main-background;
}

#screen-meta {
  margin: 0 0 -1px 0;
}

.wp-list-table thead {
  background-color: $medium-grey;
}

.alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd) {
  background-color: $main-background;
}

.widefat tfoot td, .widefat th, .widefat thead td {
  font-size:15px;
}

.widefat tfoot {
  background-color: $main-background;
}

th.sortable a, th.sorted a {
  color: $black;
  padding: 10px;
}

.wrap .add-new-h2:hover, .wrap .page-title-action:hover {
  border-color: $primary;
  background: $primary;
}


/**
*
* -------------------------------- LISTING SECTION
*
**/

#menu-management .menu-edit, #menu-settings-column .accordion-container, .comment-ays, .feature-filter, .imgedit-group, .manage-menus, .menu-item-handle, .popular-tags, .stuffbox, .widget-inside, .widget-top, .widgets-holder-wrap, .wp-editor-container, p.popular-tags, table.widefat {
  border: none;
  box-shadow: none;
}

.subsubsub {
margin: 8px 0 20px;
}

.tablenav {
margin: 20px 0;
}

.row-title {
font-weight: 500;
}

.row-actions {
  a {
    color: $dark-grey;

      &:hover {
        color: $primary;
      }
  }
}

.widefat thead,
.plugins thead tr {
  background-color: $primary;
}

.widefat thead {

  th.sortable a,
  th.sorted a,
  tr td,
  tr th,
  .sorting-indicator:before,
  th .comment-grey-bubble:before {
  color: $white;
  }
}

.widefat abbr {
  text-decoration: none;
}

// hide the border for the table head
.widefat thead td, .widefat thead th {
  border: none;
}

// hide the filter on listing footer
.widefat tfoot,
.tablenav.bottom .actions {
  display: none;
}

// padding on listing row
.widefat td,
.widefat th {
  padding: 12px 10px;
  border-bottom: 1px solid #e3e3e3;
}

#the-list tr:last-child td, #the-list tr:last-child th {
  border-bottom: 1px solid #e3e3e3 !important;
}

.updates-table tbody td.check-column,
.widefat tbody th.check-column {
  padding: 15px 0 0 3px;
}

input[type=checkbox]:checked:before {
  color: $green;
}

// pagination
.tablenav .tablenav-pages a:focus,
.tablenav .tablenav-pages a:hover {
  background: $primary;
  border-color: $primary;
}


/**
*
* -------------------------------- EDITOR SECTION
*
**/

#wp-content-editor-tools {
  background-color: $main-background;
}

input[type=checkbox], input[type=color], input[type=date],
input[type=datetime-local], input[type=datetime],
input[type=email], input[type=month], input[type=number],
input[type=password], input[type=radio], input[type=search],
input[type=tel], input[type=text], input[type=time], input[type=url],
input[type=week], select, textarea {
  box-shadow:none;
}

input[type=checkbox]:focus, input[type=color]:focus,
input[type=date]:focus, input[type=datetime-local]:focus,
input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus,
input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus,
input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus,
input[type=time]:focus, input[type=url]:focus, input[type=week]:focus,
select:focus, textarea:focus {
  box-shadow:none;
}

/**
*
* -------------------------------- BUTTONS
*
**/


// secondary grey
.wp-core-ui .button,
.wp-core-ui .button-secondary,
.components-button.is-default {
  color: #555;
  border-color: #ccc;
  background: $main-background;
  box-shadow: none;
  border-radius: 0;
  text-shadow:none;

      &:hover {
        box-shadow:none;
        background: $accent-grey;
        border-color: $accent-grey;
        color: $white;
      }

      &:active {
        box-shadow: none;
        transform: none;
      }

      &:focus {
        box-shadow:none;
      }
}

// primary color
.wp-core-ui .button-primary,
.wp-core-ui .button-primary.cp-button,
.components-button.is-primary {
  background: $primary;
  color: #fff;
  border: $primary;
  text-shadow: none;
  box-shadow:none;
  border-radius: 0;

      &:hover {
        box-shadow:none;
        background: $secondary;
        border-color: $secondary;
      }

      &:active {
        background: $secondary;
        border-color: $secondary;
        box-shadow: none;
        transform: none;
      }

      &:focus {
        box-shadow:none;
        background: $secondary;
        color:rgba(255,255,255,0.6)
      }
}

.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
  background: $secondary !important;
}
.wp-core-ui .button-link:focus {
  box-shadow: none;
}

/**
*
* -------------------------------- META BOXES
*
**/


#delete-action {
  width: 100%;
}

.submitbox .submitdelete {
  text-decoration: none;
}

#publishing-action {
float: left;
margin-top: 12px;

      .spinner {
      float: right;
      }
}

#misc-publishing-actions {
  color:$dark-grey;
}


// stripe for metabox title
#poststuff h2 {
  color: $white;
  font-weight: normal;
  background-color: $primary;
}

// arrow in metabox
.toggle-indicator {
  color: $white;
}

// cog for ACF and metabox
.acf-postbox>.hndle .acf-hndle-cog {
  color: $white !important;
}

#major-publishing-actions {
  background-color: #fff;
  padding: 20px 10px 10px 10px;
  border-top: none;
}

#linksubmitdiv .inside,
#poststuff #submitdiv .inside, {
  padding: 18px;
}

#minor-publishing-actions {
float: left;
margin-bottom: 30px;

   a {
     text-decoration: none;
   }
}

.postbox {
  box-shadow: none;
  margin-bottom: 36px;
}

.postbox .hndle,
.stuffbox .hndle {
  border-bottom: none;
}

.misc-pub-section {
  padding: 16px 10px 16px;
  border-bottom: 1px solid #e3e3e3;
}


.wrap .add-new-h2,
.wrap .page-title-action {
  border-radius: 0;
  color: $primary;
  border-color: $primary;
  font-weight: normal;

    &:active {
      border-radius: 0;
      border-color: $primary;
      font-weight: normal;
      color: $white;
    }
}

// update success color
.notice-success, div.updated {
  border-left-color: $green;
}

/**
*
* -------------------------------- MÉDIAS
*
**/

.wp-core-ui .attachment.details {
box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px $primary;
}

.wp-core-ui .attachment.details .check,
.wp-core-ui .attachment.selected .check:focus,
.wp-core-ui .media-frame.mode-grid .attachment.selected .check {
background-color: $primary;
box-shadow: 0 0 0 1px #fff,0 0 0 2px $primary;
}

/**
*
* -------------------------------- NOTIFICATIONS
*
**/


.wp-core-ui .notice.is-dismissible {
  padding: 12px 30px;
}

/**
*
* -------------------------------- WELCOME SCREEN
*
**/

// remove dotted border empty container
.metabox-holder .postbox-container .empty-container {
  display: none;
}

/**
*
* -------------------------------- GUTENBERG
*
**/


body.block-editor-page #wpcontent {
  padding-right: 0;
}

// all the style to clear the bigger height for the admin bar
@media (min-width: 782px) {
  .edit-post-layout__content {
    top:100px;
  }

  .edit-post-header {
  top: $topBarHeight;
  }

  .edit-post-sidebar {
    top: 102px;
  }

  // notice on top
  .edit-post-layout.is-sidebar-opened .components-notice-list {
  top: 100px;
  }

}

.edit-post-sidebar__panel-tab.is-active {
  border-bottom: 3px solid $primary;
}

// link inside componant in GUTENBERG
.components-button.is-link:active, .components-button.is-link:hover {
  color: $primary;
}

// font-weight for right panel title
.components-panel__body-toggle.components-button {
  font-weight: 400;
}

.edit-post-meta-boxes-area #poststuff .stuffbox>h3, .edit-post-meta-boxes-area #poststuff h2.hndle, .edit-post-meta-boxes-area #poststuff h3.hndle {
  color: $white;
}


/**
*
* -------------------------------- PLUGINS
*
**/

// plugin table row
.plugin-update-tr.active td, .plugins .active th.check-column {
  border-left: 4px solid $primary;
}

// WPML

#icl_translations_table {
border:1px solid $primary;
padding: 10px;
border-radius: 0;
background-color: $main-background;
margin-bottom: 20px;
margin-top: 12px !important;

    td {
      font-size:13px;
    }
}

// wpml metabox buttons
#icl_cfo.button-secondary,
#icl_set_duplicate.button-secondary {
  padding: 8px 10px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

// wpml metabox padding
#icl_div .inside {
  padding:0 23px 20px 23px;;
}

#icl_div .icl_pop_info_wrap {
  display: none;
}


// ACF
#wpbody-content .acf-relationship .list .acf-rel-item:hover {
  background: $primary;
}

// hide cog
.acf-postbox:hover>.hndle .acf-hndle-cog {
  display: none !important;
}

// field padding
.acf-fields>.acf-field {
  padding: 20px 24px 24px 24px!important;
}

// field label
.acf-field .acf-label label {
  font-size:14px;
  color: $secondary;
  font-weight: 500 !important;
}

// flexible content title
.acf-flexible-content .layout .acf-fc-layout-handle {
  background-color: $medium-grey;
}

// number on flexible row
.acf-flexible-content .layout .acf-fc-layout-order {
  background-color: $primary !important;
  color: $white !important;
}


// All in one migration - fixed an override css bug from plugin
#adminmenu .wp-menu-open.toplevel_page_ai1wm_export,
#adminmenu .wp-menu-open.toplevel_page_ai1wm_export > a {
  background-color: $primary !important;
}

// Yoast topbar logo
#wpadminbar .yoast-logo.svg {
  height: 40px !important;
  background-position: 0 12px !important;
}
// Yoast topbar score
#wpadminbar .adminbar-seo-score {
  margin: 16px 0 0 4px!important;
}
